@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: 0.3s ease-in-out;
    transition-property: background-color;
    background-color: #121212;
    color: #eeeeee;
}

#couch {
    transition: 0.3s ease-in-out;
    transition-property: all;
}

.logo-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-slate-900 to-slate-700 dark:from-slate-300 dark:to-slate-500;
}

a {
    @apply z-50;
}

.card {
    transition: all 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #121212;
    }
}

#rainy-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
}

.raindrop {
    border-radius: 50%;
    position: absolute;
    width: 3px;
    height: 1em;
    background: linear-gradient(to bottom, transparent, rgba(250, 250, 250, 0.75));
    animation: raindrop-animation linear infinite;
}

@keyframes raindrop-animation {
    0% {
        transform: translateY(-10vh);
    }

    100% {
        transform: translate(-5vw, 110vh);
    }
}